<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<h3> Errors: </h3>
		<ul>
			<% @post.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
		<%= f.label :title %> 
		<%= f.text_field :title, class: 'form-control col-md-4' %>
	</div>

	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, class: 'form-control col-md-4' %>
	</div>

	<div class="form-group">
	    <%= f.label :topic %>
	    <%= f.select :topic, ['Politics','Religion'] , { include_blank: 'Please choose' } , { :class => 'form-control col-md-4' } %>
   </div>

	<%= f.submit class: 'btn btn-success' %>
<% end %>
	