<%= form_for(@post, class: 'form-vertical', remote: true)  do |f| %>
	<% if @post.errors.any? %>
		<h3> Errors: </h3>
		<ul>
			<% @post.errors.full_messages.each do |message| %>
				<li>
					<%= message %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control col-md-4' %>
	</div>

	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, class: 'form-control col-md-4' %>
	</div>

	<div class="form-group">
	    <%= f.label :category_name %>
	    <%= f.text_field :category_name, id: 'category_autocomplete' %>
   </div>

   <%= f.submit class: 'btn btn-success' %>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('#category_autocomplete').autocomplete({
		source: '/categories',
		messages: {
		  noResults: '',
		  results: function() {}
		},
		focus: function(event, ui) {
		  $('.ui-helper-hidden-accessible').hide();
		  event.preventDefault();
		}
		});
	});
</script>

