<tr>
  <td><%= link_to post.title, post, class: 'cblack' %></td>
  <td><%= post.content %></td>
  <td><%= post.category_name %></td>
  <td><%= post.city %></td>
  <td>
    <%= link_to "Edit", edit_post_path(post), class: 'btn btn-primary nohover' %>
    <%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: 'btn btn-danger nohover' %>
  </td>
</tr>
